.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 47px;
  background: #fff;
  box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.35);
  margin: 20px 20px 20px 0;
  width: 40%;
  padding: 10px 0 40px;
}

  .inputSteps{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 40px;
  }
  .create{
    margin-bottom: 10px;
    font-size: 50px;
    color: #D6770F;
    font-family: 'Cherolina';
    font-weight: 600;
    padding-top: 20px;
    margin: 20px 0 20px;
  }

  .diets{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  .all{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 200px;
    padding-top: 20px;
    height: 100vh;
    
  }

  .button{
    border-color: transparent;
    border-radius: 172px;
    background-color: #D6770F;
    text-decoration: none;
    padding: 3px 14px;
    color: white;
    margin: 10px 0 0 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    transition: .3s ease;
    display: block
  }
  .health{
    padding-top: 10px;
  }

  .button:hover{
    transform: translateY(-25%);
  }

  .error{
    color: red;
    font-size: 12px;

  }

  .summary{
    width: 400px;
    height: 100px;
    text-align: start;
    border-radius: 20px; 
    border: 1px solid #D6770F;  
    padding: 10px;  
  }
  .summary:focus{
    outline-color: #b1610c;    
  }

  .steps{
    width: 400px;
    height: 100px;
    text-align: start;  
    margin-bottom: 10px;
    border-radius: 20px; 
    border: 1px solid #D6770F;
    padding: 10px;
  }
  .steps:focus{
    outline-color: #b1610c;    
  }

  .write{
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 40px; 
    border: 1px solid #D6770F;
  }
  .name{
    background-color: #d6760faf;
    color: white;
    padding: 5px;
    margin: 10px;
    border: none;
    border-radius: 40px; 
    border: 1px solid #D6770F;    
  }
  .name:focus{
    outline-color: #b1610c;
  }
  .write:focus{
    outline-color: #b1610c;    
  }
.name::placeholder{
  color: white;
}
  
  .imgContainer{
   position: relative;
   margin-top: 10%;
    max-width: 40%;
  }

  .imgPreview {
    box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.35);
    position: relative;
    width: 70%;
    height: 70%;
    margin-left: 20%;
    border-radius: 20px;
  }
  
  .image {
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    
  }
  .imguploadbutton{
    display: flex;
    justify-content: center;
  }

  .uploadImage{
    cursor: pointer;
    border-color: transparent;
    border-radius: 172px;
    background-color: #D6770F;
    text-decoration: none;
    padding: 3px 14px;
    color: white;
    margin: 10px 0 0 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    transition: .3s ease;
    
  }
  .imgInput{
    display: none;
  }

  .progress {
    background-color: rgb(37, 157, 255);
    height: 2px;
    margin-top: 16px;
    width: 0%;
    left: 0;
    border-radius: 50px;
    position: relative;
  }

  .customUpload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #cacaca;
    background-color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px rgba(0,0,0,0.1);
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: rgba(75, 85, 99, 1);
  }
  
  .custum-file-upload input {
    display: none;
  }


  .remove {
    position: absolute;
    top: 0;
    right: -15%;
    border: none;
    cursor: pointer;     
    border-radius: 172px;
    background-color: #D6770F;   
    padding: 3px 12px;
    color: white;  
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    transition: .3s ease;
    display: block
  }
  .remove:hover{
    transform: translateY(-25%);
  }
  .iconremove{
    border-radius: 3px;    
    cursor: pointer;
    border: 1px solid #D6770F;
    background-color: #D6770F;
    height: 1.2rem;
    width: 1.2rem;
    color: white;
  }
  
  
  .icon {
    
    color: #b1610c;
  }
  .inputimg{
    display: none;
  }

  .progress{
    border-radius: 20px;
    border: 1px solid #D6770F;
    background: #b1610c;
    accent-color: #D6770F
  }
  