.form{
  display: flex;
  align-items: center;
  justify-content: center;
}


  .inputSteps{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 40px;
  }

  .diets{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }