.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 47px;
  background: #fff;
  box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.35);
  margin: 20px;
  width: 40%;
  padding: 10px;
}

  .inputSteps{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-bottom: 40px;
  }
  .create{
    margin-bottom: 10px;
    text-decoration: underline;
    color: #D6770F;
  }

  .diets{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }

  .all{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 30px;
    padding-top: 30px;
    height: 100vh;
    
  }

  .button{
    border-color: transparent;
    border-radius: 172px;
    background-color: #D6770F;
    text-decoration: none;
    padding: 3px 14px;
    color: white;
    margin: 10px 0 0 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    transition: .3s ease;
  }

  .button:hover{
    transform: translateY(-25%);
  }

  .error{
    color: red;
    font-size: 12px;

  }

  .summary{
    width: 400px;
    height: 100px;
    text-align: start;    
  }

  .steps{
    width: 400px;
    height: 100px;
    text-align: start;  
    margin-bottom: 10px;
  }
    
  