.container{
    display: flex;
    flex-direction: column;
   
    

}

.apiSteps{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    
}
.steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px 10px 5px;
    background-color: #F7F7F7;
    text-align: left;
    width: 40%;
    border: 2px solid #ececec;
    padding: 15px 0 15px 0 ;
}
.icon{
    width: 20px;
    height: 20px;
    background-color: #7B9029;
    border-radius: 40px;
    padding: 10px;
    color: #7B9029;
}
.steps:hover{
    background-color: #7B9029;
    transition: 0.4s;
    color: white;
}
.ul{
    list-style:circle;
}
.img{
    width: 50%;
    height: 50%;
    padding: 25px;
    border-radius: 10px;
}
h2{

    font-size: 20px;
    font-weight: 400;
}

.summary{
    margin-top: 20px;
    max-width: 90%; 
    
}
.firstpart{
    display: flex;
    flex-direction: row;
    padding: 50px;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.containerDelete{
    display: flex;
    justify-content: center;
}

.buttonDelete{
    border-color: transparent;
    border-radius: 172px;
    background-color: #D6770F;
    text-decoration: none;
    padding: 3px 5px;
    color: white;
    margin: 20px 0 20px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    transition: .3s ease;
}
.buttonDelete:hover{
    transform: translateY(-25%);
}

.health{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.step{
    max-width: 90%;
    text-align: left;
    margin: 10px 0 10px
}

.dbSteps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 10px 30% 10px 30%;   
    border: 2px solid #ececec;
    padding: 15px 50px 15px 50px;
    border-radius: 10px;
}

.dbSteps:hover{
    background-color: #7B9029;
    transition: 0.4s;
    color: white;
}