.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content:center;
    align-items: center;
    margin: 40px ;
    
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100vh;   
}
.components{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 20%;
    flex-direction: column;
    background-color: #F7F7F7;
    padding: 30px;
    
    
}
.paginate{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.recipes{
    padding: 20px 0 20px;
    color: #7B9029;
    font-family: 'Cherolina';
    font-size: 70px;
    margin-top: 10px;
}
