.paginate{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;  
}

.pageList{
    padding: 5px;
}

.number{    
    color: #000000;
    font-size: 12px;
    font-weight: 500; 
    border-radius: 5px;
    border: none;    
    padding: 5px 10px;
    margin: 5px 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);    
    
}

.section{
    display: flex;   
    justify-content: center; 
    width: 40%;
    background-color: #ffffff;  
    margin: 20px 0 20px 0; 
}

.active{
    background-color: #7B9029;
    padding: 5px;
    border-radius: 10px;
    color: #fff;
    margin: 0 5px 0 5px;    
}

.prevnext:hover{
    color: #CC9900;    
}

.prevnext{
    padding: 5px;
}