@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,800;1,400&display=swap');


    ::-webkit-scrollbar {
        width: 12px;
        height: 12px;
      }
      
      ::-webkit-scrollbar-track {
        background-color: #ffffff;
       
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: #CC9900;
        border-radius: 10px;
      }

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

h1{
    color: white;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 54px;
    max-width: min-content;
    line-height: 45px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: #CC9900;

}

.btn{
    border-radius: 172px;
    background-color: #D6770F;
    text-decoration: none;
    padding: 7px 30px;
    color: white;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
}
.frame{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}